@{
    ViewBag.Title = "About";
    Layout = "../Shared/_Layout2.cshtml";

}
    
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">About</h1>
        <p class="lead">Intelligent Fleet Monitor <span class="badge badge-pill badge-info">version 2.0</span></p>
        <p class="lead">Webpage that displays the location of all connected locomotives, along with some status data relevant to the operator.</p>
    </div>
</div>