@model IEnumerable<MVCSignalRtest2.Models.LocoStatus>

<table id="locoTable" class="table text-center">
    <thead class="thead-info">
        @*
            <tr>
                <th rowspan="2">Loco</th>
                <th rowspan="2" class="text-center">Mileage</th>
                <th colspan="2" class="text-center">E. Consumida</th>
                <th colspan="2" class="text-center">E. Devolvida</th>
            </tr>
        *@
        <tr>
            <th>Loco</th>
            <th class="text-center"><span class="hide-when-small">Mileage (km)</span></th>
            @*
    <th class="text-center">Operating Hours (h)</th>
    <th class="text-center">Active Traction Energy (kWh)</th>
    <th class="text-center">Reactive Traction Energy (kvarh)</th>
    <th class="text-center">Active Breaking Energy (kWh)</th>
    <th class="text-center">Reactive Breaking Energy (kvar)</th>
            *@
            <th class="text-center">Uptime (min)</th>
            <th class="text-center">Last Mileage Update</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var loco in Model.OrderBy(x => x.Loco))
        {
            @Html.Partial("_LocoTableRowPartial", loco);
        }

    </tbody>
</table>