
/*
    .fill-navy-dark   { background:black; }
.fill-navy-dark   { background:#222B30; }
    .fill-navy-dark   { background:#41aaaa; }
    SIEMENS PETROL
*/
.small    {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0;
}
/*from html*/
body { 
    margin:0;
    padding:0;
    font-family:sans-serif;
    overflow:hidden;
  }
  .leaflet-zoom-anim .couriericon {
    transition:all 0s; 
  }

  #map { 
    position:absolute; 
    top:0; 
    bottom:0; 
    right:1024px;
    left:0px;
    cursor:cell;
  }
  #sidebar {
      /*background:#222B30;*/
      background:#ebf0f5; 
    width:1024px;
    border-left:1px solid #aaa;
    right:0;
    top:0;
    bottom:0;
    position:absolute;
    text-align:center;
    overflow:auto;
  }
  
  .ticker {
    overflow:auto;
    border-top:1px solid rgba(255,255,255,0.25);
  }
  .ticker div{
    padding:0px 15px;
    color:#828a8e;
    max-height:0px;
    overflow:hidden;
    transition:all 0.5s ease-in;
    opacity:0;
  }

  .ticker div.expanded {
    max-height:200px;
    padding:10px 15px;
    border-bottom:1px solid rgba(255,255,255,0.25);
    opacity:1
  }

  .ticker div strong {
    color:white;
    border-radius:2px
  }

.ticker div .incoming {
  color:#222B30;
  background:#828a8e;
}

.strongpad {
  padding:0px 4px;
  margin-right:2px;
}
@media (max-width: 1000px) {
    .metric {
        font-size:4em;
    }
}
@media (max-width: 600px) {
    #sidebar {
        display:none;
    }
    #map {
        width:100%
    }
}
@media (max-height: 700px) {
    .blurb {
        display:none
    }
}
#sie-logo {
    position: absolute;
    right: 20px;
    width:270px;
    height:auto;
}
#logo-container{
    display:block;
    height:100px;
}
#siemens-logo {
background: url("/Content/img/sie_ingenuity_logo.png") left top no-repeat;
background-size:100%; 
box-shadow: 10px 10px 20px 0 black inset, -10px -10px 20px 0 black inset; 
width: 100%;
height: 100px;
}
#siemens-logo{
    position: -webkit-sticky;  /* required for Safari*/
    position: sticky;
    top: 0; /*required as well.*/
  }

