/*

RESPONSTABLE 2.0 by jordyvanraaij
Designed mobile first!

If you like this solution, you might also want to check out the 1.0 version:
https://gist.github.com/jordyvanraaij/9069194

*/
.responstable {
    margin: 0em 0;
    width: 100%;
    overflow: hidden;
    background: #FFF;
    color: #024457;
    border-radius: 10px;
    border: 1px solid #167F92;
}

.responstable tr {
    border: 1px solid #D9E4E6;
    line-height:1;
}

.responstable tr:nth-child(odd) {
    background-color: #EAF3F3;
}

.responstable th {
    display: none;
    border: 1px solid #FFF;
    background-color: #167F92;
    color: #FFF;
    padding: 1em;
}

.responstable th:first-child {
    display: table-cell;
    text-align: center;
}

.responstable th:nth-child(2) {
    display: table-cell;
}

.responstable th:nth-child(2) span {
    display: none;
}

.responstable th:nth-child(2):after {
    content: attr(data-th);
}

@media (min-width: 480px) {
    .responstable th:nth-child(2) span {
        display: block;
    }

    .responstable th:nth-child(2):after {
        display: none;
    }
}

.responstable td {
    display: flex;
    word-wrap: break-word;
    max-width: 7em;
}

.responstable td:first-child {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #D9E4E6;
}

@media (min-width: 480px) {
    .responstable td {
        border: 1px solid #D9E4E6;
    }
}

.responstable th, .responstable td {
    text-align: left;
    margin: .5em 1em;
}
@media (max-width: 480px) {
    .responstable th{
        padding: 0px;
        margin: 0px;
    }
    .td{
        color:red;
    }
}
@media (min-width: 480px) {
    .responstable th{
        display: table-cell;
        padding: 1em;
    }
}



.thead-default th, th{
    background-color: #167F92;
    color: white;
}

.locoprop-name{
    display:none;
    text-align:center;
    width: 8em;
    padding-right:1em;
}
.locoprop-value{
}
.locoprop-unit{
    min-width:5em;
    padding-left:1em;
    font-weight:bold;
    text-align:left;
}

@media (max-width: 480px) {
    .locoprop-name{
        display:flex;
    }
    .locoprop-value{
    }
    .locoprop-unit{
    }
    thead {
        display:none;
    }
    tr td:last-child{
        font-size:75%;
        color:lightgray;
    }
    .my-collapsed{
        display: none;
    }
}


