<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".
-->
   <connectionStrings>
     <add name="DefaultConnection" connectionString="Server=96918382-3a3d-4f31-8e72-a806004e76e3.sqlserver.sequelizer.com;Database=db969183823a3d4f318e72a806004e76e3;User ID=sormdmtzvcekszeu;Password=L5Mm5c5DQCEb2v6QPTRnriZGTDpLAFojf5ZYCZnPMkVL7TbChBT6n7ECefAyVsdj;	" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="data source=139.16.215.4;initial catalog=testMVCSignalR;user id=testCL;password=qwert112358;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /> -->
</connectionStrings>


<system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
